{% extends "base.html" %}
{% block color %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block content %}
      {% if list == "ul" %}
      <ul>
         {% for item in jobs_list['jobs'] %}
            <li>{{item}}</li>
         {% endfor %}
      </ul>
      {% elif list == "ol" %}
      <ol>
        {% for item in jobs_list['jobs'] %}
          <li>{{item}}</li>
        {% endfor %}
      </ol>
      {% else %}
             <h2>НЕВЕРНЫЙ ПАРАМЕТР</h2>
      {% endif %}
{% endblock %}